
body{
  overflow: hidden
}

.components{
  
  height: calc(100vh - 55.2px);
}
.list-hotels{
  margin-top: 16px; 
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.card-hotel{
  height: 160px;
}
